<form action="/users/<%= @user[:id]%>/posts" method="post">
  <div>
    <input type="text" name="title" />
  </div>
  <div>
    <textarea name="content"></textarea>
  </div>
  <div>
    <input type="submit" name="submit"/>
  </div>

</form>
